@page
@model CulinaireTaxi.Pages.OrderPageModel
@{
    Layout = "~/Pages/App/_Layout.cshtml";

    ViewBag.Title = "Order";

}

@section head_stylesheets {
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1542186754" />
}

@section head_scripts {
    <script type="text/javascript" charset="utf-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
}

<div style=" width: 100%; height: 100%;">
    <div style="width: 60%; height:100%; float:left" id="map">
    </div>
    <div style="width: 20%; height 60%; background-color:grey; color:aliceblue; float:right; margin-left: 10px;" id="RestaurantInfo">
        <h1 id="RestaurantName">Restaurant: </h1>
        <form method="post" >
            <input type="hidden" name="location" />
            <input type="hidden" id="Chosen" />
            <input type="hidden" id="nextPage" value="Next" />
        </form>
    </div>
</div>


@section body_scripts {
    <script src="~/js/Map.js"></script>
    <script>
        @{
           List< Company> companies = CompanyTable.RetrieveCompaniesOfType(0);
           @:var comp = {};
           for (int i = 0; i < companies.Count; i++)
           {
                @:comp[@companies[i].Id] = {};
                @:comp[@companies[i].Id]['id'] = @companies[i].Id;
                @:comp[@companies[i].Id]['x'] = @companies[i].Latitude;
                @:comp[@companies[i].Id]['y'] = @companies[i].Longitude;
                @:comp[@companies[i].Id]['name'] = "@companies[i].Name";
                @:comp[@companies[i].Id]['description'] = "@companies[i].Description";
                @:CreateDestinationMarker(comp[[@companies[i].Id]]);
           }
        }
    </script>

}
