@page
@model CulinaireTaxi.Pages.App.AdminModel
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Pages/App/_LayoutBase.cshtml";
    
    Account user = UserAgent.Account;
}


@* MAIN CONTENT *@
<div class="container">
    <div class="row">
        @* FIRST CARD *@
        <div class="col-sm pb-3">
            <div class="card shadow bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        @* THIRD CARD *@
        <div class="col-sm pb-3">
            <div class="card shadow bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">Confirm new companies</h5>
                    @{
                        List<Company> disabledCompanies = CompanyTable.RetrieveCompaniesByIsConfirmed(false);
                        if (disabledCompanies.Count > 0)
                        {
                            for (int i = 0; i < disabledCompanies.Count; i++)
                            {
                                <form method="post">
                                    <input asp-for="PostID" type="hidden" value="@AdminModel.POSTID_CHECK_COMPANY" required />
                                    <input asp-for="CompanyID" type="hidden" value="@disabledCompanies[i].Id" required />
                                    <div class="input-group">
                                        <h4 class="card-title">@disabledCompanies[i].Name</h4>
                                        <div class="input-group">
                                            <button class="btn btn-primary" type="submit" name="confirmType" value="@AdminModel.CONFIRMTYPE_CONFIRM_COMPANY">Confirm</button>
                                            <button class="btn btn-primary" type="submit" name="confirmType" value="@AdminModel.CONFIRMTYPE_DECLINE_COMPANY">Decline</button>
                                        </div>
                                    </div>
                                </form>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>