@page
@model CustomerPageModel
@{
    Layout = null;

    var user = UserAgent.Account;
}
<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link rel="stylesheet" href="~/css/index.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

    <title>CulinaireTaxi</title>
</head>
<body class="bg-primary">

    @* HEADER *@
    <div class="jumbotron text-shadow text-white">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item border-right">
                        <a class="nav-link" href="/Portal/Logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About">How to use</a>
                    </li>
                    <li class="nav-item border-left">
                        <a class="nav-link" href="/Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container mx-auto mt-5">
            <div class="row">
                <div class="col text-center">
                    <h1 class="branding">Welcome @user.Contact.FullName</h1>
                    <p class="display-5">"Lorem Ipsum"</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <button class="btn btn-primary" type="button" onclick="alert('Why you no listen (ಥ﹏ಥ)')">DO NOT CLICK</button>
                </div>
            </div>
        </div>
    </div>

    @* MAIN CONTENT *@
    <div class="container">
        <div class="row">
            @* CALANDER CARD *@
            <div class="col-sm pb-2">
                <div class="card shadow bg-secondary">
                    <div class="card-body">
                        <div class="calendar">
                            <div class="calendar_header">
                                <h5 class="header_copy">Reservation Calendar</h5>
                            </div>
                            <div class="calendar_plan">
                                <div class="cl_plan">
                                    <div class="cl_title" style="padding-left: 30px;">
                                        <form method="post">
                                            <input asp-for="PostID" type="hidden" value="@CustomerPageModel.POSTID_CALENDAR_TODAY" required />
                                            <input class="calendar_input" type="submit" value="Today" />
                                        </form>
                                    </div>
                                    <div class="cl_copy" style="padding-left: 45px;">@Model.GetDate().ToString("D")</div>
                                    <form method="post">
                                        <input asp-for="Date" type="hidden" value="@Model.Date" required>
                                        <input asp-for="PostID" type="hidden" value="@CustomerPageModel.POSTID_CALENDAR_BACKWARDS" required />

                                        <input class="calendar_input" type="submit" value="<" style="float:left; margin-left: -25px;" id="submit">
                                    </form>
                                    <form method="post">
                                        <input asp-for="Date" type="hidden" value="@Model.Date" required>
                                        <input asp-for="PostID" type="hidden" value="@CustomerPageModel.POSTID_CALENDAR_FORWARDS" required />

                                        <input class="calendar_input" type="submit" value=">" style="float:right; margin-right: -25px;" id="submit">
                                    </form>
                                </div>
                            </div>
                            <div class="calendar_events">
                                <p class="ce_title">Upcoming Events</p>
                                @foreach (Reservation reservation in ReservationTable.RetrieveReservationsFrom(UserAgent.Account.Id, Model.GetDate()))
                                {
                                    
                                    <div class="event_item" onclick="clickRes('@AccountTable.RetrieveAccountByID(reservation.CompanyId).Contact.FullName', '@reservation.FromDate.ToString("HH:mm")', '@reservation.TillDate.ToString("HH:mm")', '@reservation.GuestsAmount', '@reservation.Status', '@reservation.Id')">
                                        <div class="ei_Dot dot_active"></div>
                                        <div class="ei_Title"><p id="time">@reservation.FromDate.ToString("HH:mm") -  @reservation.TillDate.ToString("HH:mm")</p></div>
                                        <div class="ei_Copy"><p>Name: @AccountTable.RetrieveAccountByID(reservation.CompanyId).Contact.FullName <br /> Amount of people: @reservation.GuestsAmount <br /> Status: @reservation.Status</p></div>
                                    </div>
                                    Model.AddReservation(reservation);
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* ACCOUNT DETAIL CARD *@
            <div class="col-sm pb-4">
                <div class="card shadow bg-secondary">
                    <div class="card-body">
                        <div class="accountdetailpanel">
                            <h5 class="card-title">Account Details</h5>

                            @if (user.Contact.MissingData())
                            {
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>Oh snap!</strong> Vergeet niet alle contact gegevens in te vullen om goed berijkbaar te blijven.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }

                            @*fullname*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">Full Name</span>
                                </div>
                                <input type="text" style="margin:0px;" class="form-control" value="@user.Contact.FullName">
                            </div>
                            @*email*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">Email</span>
                                </div>
                                <input type="text" style="margin:0px;" class="form-control" value="@user.Email">
                            </div>
                            <form method="post">
                                @*account detail form*@
                                <input type="hidden" name="form_id" value="0" />
                                @*County*@
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">County</span>
                                    </div>
                                    <input type="text" name="county" style="margin:0px;" class="form-control" placeholder="Groningen" value="@user.Contact.County">
                                </div>
                                @*City*@
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">City</span>
                                    </div>
                                    <input type="text" name="city" style="margin:0px;" class="form-control" placeholder="Groningen" value="@user.Contact.City">
                                </div>
                                @*Streetname*@
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">Street</span>
                                    </div>
                                    <input type="text" name="streetname" style="margin:0px;" class="form-control" placeholder="Herestraat 12" value="@user.Contact.Street">
                                </div>
                                @*PostalCode*@
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">Postal Code</span>
                                    </div>
                                    <input type="text" name="postalcode" style="margin:0px;" class="form-control" placeholder="9711 LJ" value="@user.Contact.PostalCode">
                                </div>
                                @*PhoneNumber*@
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">Phone Number</span>
                                    </div>
                                    <input type="text" name="phonenumber" style="margin:0px;" class="form-control" placeholder="0622334455" value="@user.Contact.PhoneNumber">
                                </div>
                                @*submit*@
                                <input asp-for="PostID" type="hidden" value="@CustomerPageModel.POSTID_UPDATE_INFO" required />
                                <button type="submit" class="btn btn-primary">Save Details</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            @* FIRST CARD *@
            <div class="col-sm pb-2">
                <div class="card shadow bg-secondary">
                    <div class="card-body">
                        <div class="reservatiepanel" style="color:white">
                            <h5 class="card-title">Create Reservation</h5>
                            <p class="card-text">
                                Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
                            </p>

                            <form method="post">
                                @*Reservatie form*@
                                <input type="hidden" name="form_id" value="1" />
                                @*restaurant*@
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Restaurant</label>
                                    <div class="col-8">
                                        <select name="restaurant" class="form-control">
                                            @{
                                                List<Company> companyList = CompanyTable.RetrieveCompaniesOfType(CompanyType.RESTAURANT);
                                                for (int i = 0; i < companyList.Count; i++)
                                                {
                                                    <option value="@companyList[i].Id">@companyList[i].Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                @*from date*@
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">From Date</label>
                                    <div class="col-5">
                                        <input class="form-control" style="margin:0px;" type="date" value="2000-01-01" name="fromdate">
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control" style="margin:0px;" type="time" value="00:00" name="fromtime">
                                    </div>
                                </div>
                                @*till date*@
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Till Date</label>
                                    <div class="col-5">
                                        <input class="form-control" style="margin:0px;" type="date" value="2000-01-01" name="tilldate">
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control" style="margin:0px;" type="time" value="00:00" name="tilltime">
                                    </div>
                                </div>
                                @*guests amount*@
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Amount of people</label>
                                    <div class="col-8">
                                        <input class="form-control" style="margin:0px;" type="number" value="0" name="guestsamount">
                                    </div>
                                </div>
                                @*submit*@
                                <input asp-for="PostID" type="hidden" value="@CustomerPageModel.POSTID_CREATE_RESERVATION" required />
                                <button type="submit" class="btn btn-primary">Place Reservation</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            @* SECOND CARD *@
            <div class="col-sm pb-4">
                <div class="card shadow bg-secondary">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="ResPopUp" class="modal">
            <!-- Modal content -->
            <div class="modal-content shadow bg-secondary">
                <span class="close">&times;</span>
                <h5>Reservation</h5>
                <h6>Name:</h6>
                <p id="GuestName" style="padding-left: 30px;"></p>
                <h6>Amount of people:</h6>
                <p id="GuestAmount" style="padding-left: 30px;"></p>
                <h6>Time:</h6>
                <p id="Time" style="padding-left: 30px;"></p>
                <h6>Status:</h6>
                <p id="Status" style="padding-left: 30px;"></p>
                <form method="post">
                    <input id="ResID" type="hidden" asp-for="ResID" value="" />
                    <input asp-for="PostID" type="hidden" value="@CustomerPageModel.POSTID_DELETE_RESERVATION" required />
                    <button class="btn btn-primary" id="Cancel" type="submit" style="float:right; margin-top:-15px; width:20%;">Cancel</button>
                </form>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script>
        // Get the modal
        var modal = document.getElementById('ResPopUp');

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        function clickRes(customerName, fromDate, tillDate, guestsAmount, status, resID) {
            $("#GuestName").text(customerName);
            $("#GuestAmount").text(guestsAmount);
            $("#Time").text(fromDate + " - " + tillDate);
            $("#Status").text(status);

            document.getElementById("ResID").value = resID;

            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <style>
        h6 {
            padding: 5px;
            font-size: 17px;
            color: #ccb7ae;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 10; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            width: 50%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            margin-left: 700px;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .dropbtn {
            background-color: #3498DB;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

            .dropbtn:hover, .dropbtn:focus {
                background-color: #2980B9;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }
    </style>
    <style>
        .calendar_input {
            margin-top: -80px;
            color: #d6cfcb;
            border: none;
            text-decoration: none;
            background-color: rgba(0, 0, 0, 0.00);
            font-size: 28px;
        }

        .calendar {
            width: 370px;
        }

        .header_copy {
            color: $light_grey;
            font-size: 20px;
        }

        .calendar_plan {
            margin: 20px 0 40px;
        }

        .cl_plan {
            height: 140px;
            background-color: #1da1a3;
            box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
            padding: 30px;
            color: #fff;
            border-radius: 3px;
        }

        .cl_title {
        }

        .cl_copy {
            font-size: 20px;
            margin: 20px 0;
            display: inline-block;
        }

        .cl_add {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            margin: 0 0 0 65px;
            color: #c2c2c2;
            padding: 11px 13px;
        }

        .calendar_events {
            color: $light_grey;
        }

        .ce_title {
            font-size: 14px;
        }

        .event_item {
            margin: 18px 0;
            padding: 5px;
            cursor: pointer;
        }

        &:hover {
            background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
            box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
        }

        .ei_Dot {
            background-color: #fff;
        }

        .ei_Copy, .ei_Title {
            color: #fff;
        }


        .ei_Dot, .ei_Title {
            display: inline-block;
        }

        .ei_Dot {
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: #1da1a3;
            box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
        }

        .dot_active {
            background-color: #1da1a3;
        }

        .ei_Title {
            margin-left: 10px;
            color: #363b41;
        }

        .ei_Copy {
            font-size: 12px;
            margin-left: 27px;
        }

        .dark {
            background-image: linear-gradient(-222deg, #646464, #454545);
            color: #fff;
        }

        .header_title, .ei_Title, .ce_title {
            color: #fff;
        }
    </style>
</body>
</html>