@page
@model CustomerPageModel
@{
    Layout = "~/Pages/App/_LayoutBase.cshtml";

    var user = UserAgent.Account;

    ViewBag.Title = user.Contact.FirstName;
    ViewBag.Username = user.Contact.FirstName;

    ViewBag.CurrentDate = Model.Date;
}

@section head_stylesheets {
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1542186754" />
}

@section head_scripts {
    <script type="text/javascript" charset="utf-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
}

@* MAIN CONTENT *@
<div class="container">

    <div class="row pb-2">
        <div class="col">
            <div id="restaurants-map"></div>
        </div>
    </div>

    <div class="row pb-2">
        @* CALANDER CARD *@
        <div class="col-sm">
            <div class="card shadow bg-secondary">
                <div class="card-body">
                    <div class="calendar">
                        <div class="calendar_header">
                            <h5 class="header_copy">Reservation Calendar</h5>
                        </div>
                        <div class="calendar_plan">
                            <div class="cl_plan">
                                <div class="cl_title" style="padding-left: 30px;">
                                    <form method="post">
                                        <input asp-for="PostID" type="hidden" value="@CustomerPageModel.POSTID_CALENDAR_TODAY" required />
                                        <input class="calendar_input" type="submit" value="Today" />
                                    </form>
                                </div>
                                <div class="cl_copy" style="padding-left: 45px;">@Model.GetDate().ToString("D")</div>
                                <form method="post">
                                    <input asp-for="Date" type="hidden" value="@Model.Date" required>
                                    <input asp-for="PostID" type="hidden" value="@CustomerPageModel.POSTID_CALENDAR_BACKWARDS" required />

                                    <input class="calendar_input" type="submit" value="<" style="float:left; margin-left: -25px;" id="submit">
                                </form>
                                <form method="post">
                                    <input asp-for="Date" type="hidden" value="@Model.Date" required>
                                    <input asp-for="PostID" type="hidden" value="@CustomerPageModel.POSTID_CALENDAR_FORWARDS" required />

                                    <input class="calendar_input" type="submit" value=">" style="float:right; margin-right: -25px;" id="submit">
                                </form>
                            </div>
                        </div>
                        <div class="calendar_events">
                            <p class="ce_title">Upcoming Events</p>
                            @foreach (Reservation reservation in ReservationTable.RetrieveReservationsFrom(UserAgent.Account.Id, Model.GetDate()))
                            {

                                <div class="event_item" onclick="clickRes('@AccountTable.RetrieveAccountByID(reservation.CompanyId).Contact.FullName', '@reservation.FromDate.ToString("HH:mm")', '@reservation.TillDate.ToString("HH:mm")', '@reservation.GuestsAmount', '@reservation.Status', '@reservation.Id')">
                                    <div class="ei_Dot dot_active"></div>
                                    <div class="ei_Title"><p id="time">@reservation.FromDate.ToString("HH:mm") -  @reservation.TillDate.ToString("HH:mm")</p></div>
                                    <div class="ei_Copy"><p>Name: @AccountTable.RetrieveAccountByID(reservation.CompanyId).Contact.FullName <br /> Amount of people: @reservation.GuestsAmount <br /> Status: @reservation.Status</p></div>
                                </div>
                                Model.AddReservation(reservation);
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* ACCOUNT DETAIL CARD *@
        <div class="col-sm">
            <div class="card shadow bg-secondary">
                <div class="card-body">
                    <div class="accountdetailpanel">
                        <h5 class="card-title">Account Details</h5>

                        @*fullname*@
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Full Name</span>
                            </div>
                            <input type="text" style="margin:0px;" class="form-control" value="@user.Contact.FullName">
                        </div>
                        @*email*@
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Email</span>
                            </div>
                            <input type="text" style="margin:0px;" class="form-control" value="@user.Email">
                        </div>
                        <form method="post">
                            @*account detail form*@
                            <input type="hidden" name="form_id" value="0" />
                            @*County*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">County</span>
                                </div>
                                <input type="text" name="county" style="margin:0px;" class="form-control" placeholder="Groningen" value="@user.Contact.County">
                            </div>
                            @*City*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">City</span>
                                </div>
                                <input type="text" name="city" style="margin:0px;" class="form-control" placeholder="Groningen" value="@user.Contact.City">
                            </div>
                            @*Streetname*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">Street</span>
                                </div>
                                <input type="text" name="streetname" style="margin:0px;" class="form-control" placeholder="Herestraat 12" value="@user.Contact.Street">
                            </div>
                            @*PostalCode*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">Postal Code</span>
                                </div>
                                <input type="text" name="postalcode" style="margin:0px;" class="form-control" placeholder="9711 LJ" value="@user.Contact.PostalCode">
                            </div>
                            @*PhoneNumber*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">Phone Number</span>
                                </div>
                                <input type="text" name="phonenumber" style="margin:0px;" class="form-control" placeholder="0622334455" value="@user.Contact.PhoneNumber">
                            </div>
                            @*submit*@
                            <input asp-for="PostID" type="hidden" value="@CustomerPageModel.POSTID_UPDATE_INFO" required />
                            <button type="submit" class="btn btn-primary">Save Details</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section modals {
    <div id="NotificationPopUp" class="modal">
        <!-- Modal content -->
        <div class="modal-content shadow bg-secondary">
            <span class="modal-close">&times;</span>
            <h5>Messages</h5>
            @if (NotificationTable.GetNotificationsFor(UserAgent.Account.Id).Count == 0)
            {<h6>There are no notifications in your inbox...</h6>}
            else
            {
                foreach (Notification notification in NotificationTable.GetNotificationsFor(UserAgent.Account.Id))
                {
                    <button class="accordion"><h6 style="margin-top: -10px;">@notification.Title</h6></button>
                    <div class="panel">
                        <p style="padding: 10px;">@notification.Message</p>
                        <form method="post">
                            <input id="NotificationID" type="hidden" asp-for="NotificationID" value="@notification.ID" />
                            <input asp-for="PostID" type="hidden" value="@CustomerPageModel.POSTID_DELETE_NOTIFICATION" required />
                            <button class="btn btn-primary" type="submit" style="float:right; width: 70px; height: 40px; margin: 15px;">Delete</button>
                        </form>
                    </div>
                }
            }
        </div>
    </div>

    <div id="ResPopUp" class="modal">
        <!-- Modal content -->
        <div class="modal-content shadow bg-secondary">
            <span class="modal-close">&times;</span>
            <h5>Reservation</h5>
            <h6>Name:</h6>
            <p id="GuestName" style="padding-left: 30px;"></p>
            <h6>Amount of people:</h6>
            <p id="GuestAmount" style="padding-left: 30px;"></p>
            <h6>Time:</h6>
            <p id="Time" style="padding-left: 30px;"></p>
            <h6>Status:</h6>
            <p id="Status" style="padding-left: 30px;"></p>
            <form method="post">
                <input id="ResID" type="hidden" asp-for="ResID" value="" />
                <input asp-for="PostID" type="hidden" value="@CustomerPageModel.POSTID_DELETE_RESERVATION" required />
                <button class="btn btn-primary" id="Cancel" type="submit" style="float:right; margin-top:-15px; width:20%;">Cancel</button>
            </form>
        </div>
    </div>

    <div id="OrderPopUp" class="modal">
        <!-- Modal content -->
        <div class="modal-content shadow bg-secondary reservatiepanel">
            <span class="modal-close">&times;</span>

            <h5>Confirm Contact Details</h5>
            <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>

            @*fullname*@
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Full Name</span>
                </div>
                <input type="text" style="margin:0px;" class="form-control" value="@user.Contact.FullName">
            </div>
            @*email*@
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Email</span>
                </div>
                <input type="text" style="margin:0px;" class="form-control" value="@user.Email">
            </div>
            <form method="post">
                @*account detail form*@
                @*County*@
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">County</span>
                    </div>
                    <input type="text" name="county" style="margin:0px;" class="form-control" placeholder="Groningen" value="@user.Contact.County">
                </div>
                @*City*@
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">City</span>
                    </div>
                    <input type="text" name="city" style="margin:0px;" class="form-control" placeholder="Groningen" value="@user.Contact.City">
                </div>
                @*Streetname*@
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Street</span>
                    </div>
                    <input type="text" name="streetname" style="margin:0px;" class="form-control" placeholder="Herestraat 12" value="@user.Contact.Street">
                </div>
                @*PostalCode*@
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Postal Code</span>
                    </div>
                    <input type="text" name="postalcode" style="margin:0px;" class="form-control" placeholder="9711 LJ" value="@user.Contact.PostalCode">
                </div>
                @*PhoneNumber*@
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Phone Number</span>
                    </div>
                    <input type="text" name="phonenumber" style="margin:0px;" class="form-control" placeholder="0622334455" value="@user.Contact.PhoneNumber">
                </div>

                <hr>
                <h5>Create Reservation</h5>
                <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>

                @*Reservatie form*@
                @*restaurant*@
                <input asp-for="restaurant" id="restaurant-id" type="hidden" value="" />
                @*from date*@
                <div class="form-group row">
                    <label class="col-4 col-form-label">From Date</label>
                    <div class="col-5">
                        <input class="form-control" style="margin:0px;" type="date" value="2000-01-01" name="fromdate">
                    </div>
                    <div class="col-3">
                        <input class="form-control" style="margin:0px;" type="time" value="00:00" name="fromtime">
                    </div>
                </div>
                @*till date*@
                <div class="form-group row">
                    <label class="col-4 col-form-label">Till Date</label>
                    <div class="col-5">
                        <input class="form-control" style="margin:0px;" type="date" value="2000-01-01" name="tilldate">
                    </div>
                    <div class="col-3">
                        <input class="form-control" style="margin:0px;" type="time" value="00:00" name="tilltime">
                    </div>
                </div>
                @*guests amount*@
                <div class="form-group row">
                    <label class="col-4 col-form-label">Amount of people</label>
                    <div class="col-8">
                        <input class="form-control" style="margin:0px;" type="number" value="0" name="guestsamount">
                    </div>
                </div>
                @*submit*@
                <input asp-for="PostID" type="hidden" value="@CustomerPageModel.POSTID_CREATE_RESERVATION_UPDATE_INFO" required />
                <center><button type="submit" class="btn btn-primary">Place Reservation</button></center>
            </form>
        </div>
    </div>
}

@section body_scripts {
    <script src="~/js/map.js"></script>
    <script src="~/js/modal.js"></script>

    <script>
        var notificationModal = document.getElementById('NotificationPopUp');
        initializeModal(notificationModal);

        function clickNotification(id) {
            openModal(notificationModal);
        }

        var acc = document.getElementsByClassName("accordion");

        for (let i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

    <script>
        var orderModal = document.getElementById("OrderPopUp");
        initializeModal(orderModal);

        function openOrderModal(restaurantId) {
            document.getElementById("restaurant-id").value = restaurantId;

            openModal(orderModal);
        }

        @foreach (var company in CompanyTable.RetrieveCompaniesOfType(CompanyType.RESTAURANT))
        {
            @:CreateRestaurantMarker({ id: @company.Id, x: @company.Latitude, y: @company.Longitude, name: "@company.Name", description: "@company.Description" });
        }
    </script>

    <script>
        // Get the modal
        var reservationModal = document.getElementById('ResPopUp');
        initializeModal(reservationModal);

        // When the user clicks the button, open the modal
        function clickRes(customerName, fromDate, tillDate, guestsAmount, status, resID) {
            $("#GuestName").text(customerName);
            $("#GuestAmount").text(guestsAmount);
            $("#Time").text(fromDate + " - " + tillDate);
            $("#Status").text(status);

            document.getElementById("ResID").value = resID;

            openModal(reservationModal);
        }
    </script>
}
