@page
@model TaxiCompanyModel
@{
    Layout = "~/Pages/App/_LayoutCompany.cshtml";

    var company = CompanyTable.RetrieveCompany(UserAgent.Account.CompanyId.Value);
    var companyName = company.Name;

    ViewBag.Title = companyName;
    ViewBag.Username = companyName;

    ViewBag.CurrentDate = Model.Date;
}

@section calendar_events {
    @foreach (Reservation reservation in ReservationTable.RetrieveReservationsFor(UserAgent.Account.CompanyId.Value, Model.GetDate()))
    {
        if (reservation.Status != ReservationStatus.DECLINED)
        {
            <div class="event_item" onclick="clickRes('@AccountTable.RetrieveAccountByID(reservation.CustomerId).Contact.FullName', '@reservation.FromDate.ToString("HH:mm")', '@reservation.TillDate.ToString("HH:mm")', '@reservation.GuestsAmount', '@reservation.Status', '@reservation.Id')">
                <div class="ei_Dot dot_active"></div>
                <div class="ei_Title"><p id="time">@reservation.FromDate.ToString("HH:mm") - @reservation.TillDate.ToString("HH:mm")</p></div>
                <div class="ei_Copy"><p>Name: @AccountTable.RetrieveAccountByID(reservation.CustomerId).Contact.FirstName @AccountTable.RetrieveAccountByID(reservation.CustomerId).Contact.LastName <br /> Amount of people: @reservation.GuestsAmount <br /> Status: @reservation.Status</p></div>
            </div>
            Model.AddReservation(reservation);
        }
    }
}

@section contracts {
    <h5 class="decorated-header">Restaurants</h5>
    <div>
        @foreach (var client in ContractTable.RetrieveClients(UserAgent.Account.CompanyId.Value))
        {
            <div class="mb-2 shadow-sm">
                <form method="post">
                    <div class="input-group">
                        <input asp-for="ClientID" type="hidden" value="@client.Id" required />
                        <input class="form-control rounded-left" type="text" value="@client.Name" readonly />

                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" name="PostID" value="@TaxiCompanyModel.POSTID_CLIENTS_REMOVE">Remove</button>
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>
}

@section cancelled_reservations {
    @foreach (Reservation reservation in ReservationTable.RetrieveReservationsFor(UserAgent.Account.CompanyId.Value, ReservationStatus.DECLINED))
    {
        <div class="event_item" onclick="clickRes('@AccountTable.RetrieveAccountByID(reservation.CustomerId).Contact.FullName', '@reservation.FromDate.ToString("HH:mm")', '@reservation.TillDate.ToString("HH:mm")', '@reservation.GuestsAmount', '@reservation.Status', '@reservation.Id')">
            <div class="ei_Dot dot_active"></div>
            <div class="ei_Title"><p id="time">@reservation.FromDate.ToString("D")</p></div>
            <p id="time">@reservation.FromDate.ToString("HH:mm") - @reservation.TillDate.ToString("HH:mm")</p>
            <div class="ei_Copy"><p>Name: @AccountTable.RetrieveAccountByID(reservation.CustomerId).Contact.FirstName @AccountTable.RetrieveAccountByID(reservation.CustomerId).Contact.LastName <br /> Amount of people: @reservation.GuestsAmount <br /> Status: @reservation.Status</p></div>
        </div>
        Model.AddReservation(reservation);
    }
}

@section modals {
    <div id="ResPopUp" class="modal">
        <!-- Modal content -->
        <div class="modal-content shadow bg-secondary">
            <span class="modal-close">&times;</span>
            <h5 class="decorated-header">Reservation</h5>
            <h6>Name:</h6>
            <p id="GuestName" style="padding-left: 30px;"></p>
            <h6>Amount of people:</h6>
            <p id="GuestAmount" style="padding-left: 30px;"></p>
            <h6>Time:</h6>
            <p id="Time" style="padding-left: 30px;"></p>
            <h6>Status:</h6>
            <p id="Status" style="padding-left: 30px;"></p>
            <form method="post">
                <input id="ResID" type="hidden" asp-for="ResID" value="" />
                <input asp-for="PostID" type="hidden" value="@TaxiCompanyModel.POSTID_CONFIRM_RESERVATION" required />
                <button class="btn btn-primary" id="Accept" type="submit" style="float:left; margin-bottom: -20px; width:20%;">Confirm</button>
            </form>
            <form method="post">
                <input id="ResID_Cancel" type="hidden" asp-for="ResID" value="" />
                <input asp-for="PostID" type="hidden" value="@TaxiCompanyModel.POSTID_DECLINE_RESERVATION" required />
                <button class="btn btn-primary" id="Cancel" type="submit" style="float:right; margin-top:-15px; width:20%;">Cancel</button>
            </form>
        </div>
    </div>
}

@section body_scripts {
    <script src="~/js/modal.js"></script>

    <script>
        var reservationModal = document.getElementById("ResPopUp");
        initializeModal(reservationModal);

        // When the user clicks the button, open the modal
        function clickRes(customerName, fromDate, tillDate, guestsAmount, status, resID) {
            $("#GuestName").text(customerName);
            $("#GuestAmount").text(guestsAmount);
            $("#Time").text(fromDate + " - " + tillDate);
            $("#Status").text(status);

            if (status == "ACCEPTED") {
                document.getElementById("Accept").disabled = true;
                document.getElementById("Cancel").disabled = false;
            }
            else {
                document.getElementById("Cancel").disabled = true;
                document.getElementById("Accept").disabled = false;
            }

            document.getElementById("ResID").value = resID;
            document.getElementById("ResID_Cancel").value = resID;

            openModal(reservationModal);
        }
    </script>
}
